body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(212, 203, 203);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.heading {
  margin-left: 1em;
}

.head {
  font-size: .95rem;
  margin: 0;
}
.head-p {
  font-size: .75rem;
  font-weight: 400;
  margin: .5em 0;
}

section {
  display: flex;
  margin: .9em 2.2em;
}
